<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="auth-container">
            <h1>Error</h1>
            <p><%= message %></p>
            <% if (error.stack && process.env.NODE_ENV === 'development') { %>
                <pre><%= error.stack %></pre>
            <% } %>
            <a href="/" class="button">Return Home</a>
        </div>
    </div>
</body>
</html>